[Unit]
Description=noVNC Service
After=x11vnc.service
Requires=x11vnc.service

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/websockify --web=/usr/share/novnc/ 6081 localhost:5900
Restart=always
User=wilson_austin10

[Install]
WantedBy=multi-user.target
